{% extends "base.html" %}
{% block content %}
<br></br>
<br></br>
<div class="jumbotron" style="background-color:rgba(122, 246, 255, 0.2);">
    <h1><tt><u><em><marquee direction="left">Final Project Demo</marquee></em></u></tt></h1>
    <br></br>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Member</h2>
        </div>
        <div class="panel-body" style="background-color:#ffffff;opacity:0.8">
            <ul class="list-group">

                <li class="list-group-item">60947009S 溫博任</li>
                <li class="list-group-item">60947095S 張顥孆</li>
                <li class="list-group-item">60947080S 姚秉均</li>
            </ul>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Datasets</h2>
        </div>
        <div class="panel-body"style="background-color:#ffffff;opacity:0.8">
            <ul class="list-group">
                <li class="list-group-item">Gene Ontology</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
